@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
    border:none;
    outline:none;
    scroll-behavior: smooth;
    font-family:var(--font-family);
    word-wrap: break-word;
}

:root {
    --primary-color:#fc5a0a;
    --text-color-light: #ffffff;
    --navbar-bg: #272d33;
    --text-color-dark: #151515;
    --footer-bg: #1c2025;
    --font-family: 'Montserrat', sans-serif;
    --footer-fs:10px;
}

/* Header Start */
.navbar {
    background:var(--navbar-bg)
}

.navbar-nav a {
    color:var(--text-color-light)
}

.navbar-nav a:hover {
    color:var(--primary-color);
}

.navbar-brand img {
    height:55px;
    border-radius: 5px;
    border:2px solid var(--primary-color)
}
/* Header End */

/* Contact Text Section Start */
.contact-text-section {
    background-image: url('./metal-bg.jpg');
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
}
/* Contact Text Section End */

input[type=text], input[type=email], input[type=tel] {
    height:60px
}

input[type=text], input[type=email], input[type=tel], textarea.message-text-area {
    border-radius:0px;
    border:1px solid var(--text-color-dark)
}

textarea.message-text-area {
    height:150px
}

button[type=submit] {
    background:var(--navbar-bg);
    border-radius:3px;
    border: 1.5px solid var(--primary-color);
}

button[type=submit]:hover {
    background: var(--primary-color);
    transform:scale(1.1);
    border: 1.5px solid var(--navbar-bg);
}










/* Call To Action Section Start */
.call-to-action-section {
    background:url('./call-to-action-bg.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover
}
.lets-talk-btn {
    border:2px solid var(--text-color-light);
    border-radius:3px
}

.lets-talk-btn:hover {
    transform:scale(1.1)
}
/* Call to Action Section End */

/* Contact Section Start */
.contact {
    background: var(--navbar-bg);
}

.contact p {
    color:var(--primary-color)
}
/* Contact Section End */

/* Footer Section Start */
.footer-section {
    background:var(--footer-bg)
}
.footer-section p {
    font-size:var(--footer-fs)
}
/* Footer Section End */