@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
    border:none;
    outline:none;
    scroll-behavior: smooth;
    font-family:var(--font-family);
    word-wrap: break-word;
}

:root {
    --primary-color:#fc5a0a;
    --text-color-light: #ffffff;
    --navbar-bg: #272d33;
    --text-color-dark: #151515;
    --footer-bg: #1c2025;
    --font-family: 'Montserrat', sans-serif;
    --footer-fs:10px;
}

/* Heading 1 & Heading 2 Spacing */
h1, h2 {
    word-spacing: 10px;
    letter-spacing: 5px;
}

/* Paragraph Line Height */
p {
    line-height: 30px;
}

html, body {
    width:100%;
    overflow-x:hidden
}

/* Header Start */
.navbar {
    background:var(--navbar-bg);
    z-index:1000
}

.navbar-nav a {
    color:var(--text-color-light)
}

.navbar-nav a:hover {
    color:var(--primary-color);
}

.navbar-brand img {
    height:55px;
    border-radius: 5px;
    border:2px solid var(--primary-color)
}
/* Header End */

/* Project Gallery Text Section Start */
.project-gallery-text {
    background-image: url('./metal-bg.jpg');
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
}
/* Project Gallery Section End */

/* Project Gallery Content Section Start */
.project-gallery-content h2,
.project-gallery-content h3 {
    color:var(--primary-color)
}

.gallery-items img {
    border: 2px solid var(--primary-color);
}

.gallery-items img {
    border-bottom: none;
}

.gallery-items h3 {
    background:var(--navbar-bg);
    border:2px solid var(--primary-color)
}
/* Project Gallery Content Section End */

/* Call To Action Section Start */
.call-to-action-section {
    background:url('./call-to-action-bg.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover
}
.lets-talk-btn {
    border:2px solid var(--text-color-light);
    border-radius:3px
}

.lets-talk-btn:hover {
    transform:scale(1.1)
}
/* Call to Action Section End */

/* Contact Section Start */
.contact {
    background: var(--navbar-bg);
}

.contact p {
    color:var(--primary-color)
}

.social-icons a i:hover {
    color:var(--primary-color)
}
/* Contact Section End */

/* Footer Section Start */
.footer-section {
    background:var(--footer-bg)
}
.footer-section p {
    font-size:var(--footer-fs)
}

/* Footer Section End */