@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
    border:none;
    outline:none;
    scroll-behavior: smooth;
    font-family:var(--font-family);
    word-wrap: break-word;
}

:root {
    --primary-color:#fc5a0a;
    --text-color-light: #ffffff;
    --navbar-bg: #272d33;
    --text-color-dark: #151515;
    --footer-bg: #1c2025;
    --bg-semi-trans1:rgba(252,90,10, 0.6);
    --bg-semi-trans2:rgba(39,45,51, 0.7);
    --font-family: 'Montserrat', sans-serif;
    --footer-fs:10px;
}

/* Heading 1 & Heading 2 Spacing */
h1, h2 {
    word-spacing: 10px;
    letter-spacing: 5px;
}

/* Paragraph Line Height */
p {
    line-height: 30px;
}

/* Header Start */
.navbar {
    background:var(--navbar-bg)
}

.navbar-nav a {
    color:var(--text-color-light)
}

.navbar-nav a:hover {
    color:var(--primary-color);
}

.navbar-brand img {
    height:55px;
    border-radius: 5px;
    border:2px solid var(--primary-color)
}
/* Header End */

/* Services Section Start */
.services-text-section {
    background-image: url('./metal-bg.jpg');
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
}
/* Services Section End */
.service-categories-section h2, .service-categories-section h3 {
    color: var(--primary-color)
}
/* Service Categories Section Start */

/* Services Quality Section Start */
.services-quality-section {
    background: var(--navbar-bg);
}
/* Services Quality Section End */

/* Call To Action Section Start */
.call-to-action-section {
    background:url('./metal-bg1.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover
}
.lets-talk-btn {
    border:2px solid var(--text-color-light);
    border-radius:3px
}

.lets-talk-btn:hover {
    transform:scale(1.1)
}
/* Call to Action Section End */










/* Contact Section Start */
.contact {
    background: var(--navbar-bg);
}

.contact p {
    color:var(--primary-color)
}
/* Contact Section End */

/* Footer Section Start */
.footer-section {
    background:var(--footer-bg)
}
.footer-section p {
    font-size:var(--footer-fs)
}
/* Footer Section End */